$themeColor: #04BE02;

$primaryColor: #1AAD19;
$warnColor: #E64340;

$primaryTextColor: #222;
$greyText: #999;

$greyBackground: #EEE;
$whiteBackground: #FBF9FE;
$blackBackground: #404040;

$greyBorder: $greyBackground;
