$themeColor: #04BE02;

$cartColor: #FFBC03;
$orderColor: #11B8E4;
$couponColor: #41B665;
$myInfo: #A2CBD7;
$notification: #3FB899;
$calendar: #08BDD8;

$mallColor: #EA5D7F;

$primaryColor: #1AAD19;
$warnColor: #E64340;

$mallBackColor: #DDDDDD;

$primaryTextColor: #222;
$greyText: #999;

$greyBackground: #EEE;
$whiteBackground: #FBF9FE;
$blackBackground: #404040;

$greyBorder: $greyBackground;

//[class^="icon-"]
