$text: #222;
$greyText: #999;
$primaryColor: #1AAD19;
$warnColor: #E64340;
$greyBackground: #EEE;
$whiteBackground: #FBF9FE;

$themeColor: #04BE02;

@mixin flexboxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textOverflow {
  overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}